.logger > div {
  margin-top: 10px;
}

.logger > div.graphql {
  background: #ece6ff;
  padding: 15px;
  border-radius: 4px;
}

.logger > pre.graphql {
  background: #f0f0f0;
  padding: 15px;
  border-radius: 4px;
}

.logger > div.error {
  background: #f87676;
  color: white;
  margin-top: 15px;
  padding: 15px;
  border-radius: 4px;
}

.logger > div.info {
  background: #c1e9ff;
  margin-top: 15px;
  padding: 15px;
  border-radius: 4px;
}

.logger > div.success {
  background: #bfffb4;
  padding: 15px;
  border-radius: 4px;
}

.logger > div.basic {
  background: #3e0174;
  color: white;
  padding: 15px;
  border-radius: 4px;
}